<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>824639495837-9hqpj183i72drg8vsf765kjdb7pgcem2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824639495837-9hqpj183i72drg8vsf765kjdb7pgcem2</string>
	<key>API_KEY</key>
	<string>AIzaSyDL-oBycJf2Wgt4Yj8JJP93waJECUd-lec</string>
	<key>GCM_SENDER_ID</key>
	<string>824639495837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kronus.indonesia.IntraChat</string>
	<key>PROJECT_ID</key>
	<string>intrachat-87e74</string>
	<key>STORAGE_BUCKET</key>
	<string>intrachat-87e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824639495837:ios:813b5417100a5c34</string>
	<key>DATABASE_URL</key>
	<string>https://intrachat-87e74.firebaseio.com</string>
</dict>
</plist>